@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body{
    background: url(./img/Cosmos.jpg);
    background-size: cover;
}

#block{
    color: blueviolet;
    text-align: center;
}
.my_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my_buttons button{
    background-color: rgba(234, 0, 255, 0.425);
    margin-left: 50px;
    padding: 15px 40px;
    color: blanchedalmond;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;
}
.my_buttons button:hover{
    background-color: rgb(234, 0, 255);
}
.summ{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    margin-top: 100px;
}
.Cv{
    width: 300px;
    height: 400px;
    background-color: #fff;
    text-align: center;
}
.CVimg{
    width: 200px;
}
.registration{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #fff;
    text-align: center;
}
.registration input{
    margin-bottom: 50px;
}
.Cv{
    display: none;
}
.registration{
    display: none;
}
.backround{
    width: 300px;
    height: 500px;
    background: url(./img/giphy.gif);
    background-position: top;
}